.schedule-item-container {
  --primary: #FF7A06;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Helvetica';
}

.schedule-item-container * {
  box-sizing: border-box;
}

.schedule-item-time {
  position: relative;
  display: flex;
  background-color: #fff;
  height: max-content;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
  color: var(--primary);
  padding: 0.25rem 0.5rem;
  z-index: 1;
  /* background-color: #8A58C1; */
}

.schedule-item-title {
  margin-bottom: 0.25rem;
}
.schedule-item-title__long {
  font-size: 1.5rem;
  margin-bottom: 0;
}

/* 
.schedule-item-time:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #8A58C1;
  transform-origin: 100% 0;
  transform: skew(-20deg);
  z-index: -2;
} */

.schedule-item-data {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  min-width: 0;
  flex-grow: 1;
  align-self: stretch;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--primary);
  color: #fff;
  overflow: visible;
}

.schedule-item-runner {
  font-size: 1rem;
  font-weight: 400;
}

.schedule-item-title {
  font-weight: 700;
}

.message-container-2 {
  color: #f00;
}